apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: ibm-gitops
  annotations:
    description: Publishes the helm chart configuration to the provided gitops repo to trigger downstream deployments
    app.openshift.io/description: Publishes the helm chart configuration to the provided gitops repo to trigger downstream deployments
    app.openshift.io/vcs-uri: https://github.com/IBM/ibm-garage-tekton-tasks
    app.openshift.io/vcs-ref: master
  labels:
    version: 0.0.0
spec:
  params:
    - name: app-name
      default: ""
    - name: version
      default: ""
    - name: git-branch
      default: ""
    - name: source-dir
      default: /source
    - name: subdir
      default: ""
    - name: yaml
      default: "requirements.yaml"
    - name: path-expression
      default: "dependencies[?(@.name == '${APP_NAME}')].version"
    - name: helm-url
      default: ""
    - name: tools-image
      default: garagecatalyst/ibmcloud-dev:1.1.3
  volumes:
    - name: source
      emptyDir: {}
  stepTemplate:
    volumeMounts:
      - name: source
        mountPath: $(params.source-dir)
  steps:
    - name: gitops
      image: $(params.tools-image)
      workingdir: $(params.source-dir)
      env:
        - name: HOME
          value: /home/devops
        - name: GIT_USERNAME
          valueFrom:
            secretKeyRef: 
              name: git-credentials
              key: username
              optional: true
        - name: GIT_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: git-credentials
              key: password
              optional: true
        - name: GIT_USERNAME_CD
          valueFrom:
            secretKeyRef: 
              name: gitops-cd-secret
              key: username
              optional: true
        - name: GIT_PASSWORD_CD
          valueFrom:
            secretKeyRef: 
              name: gitops-cd-secret
              key: password
              optional: true
        - name: GIT_HOST
          valueFrom:
            configMapKeyRef:
              name: gitops-repo
              key: host
              optional: true
        - name: GIT_ORG
          valueFrom:
            configMapKeyRef:
              name: gitops-repo
              key: org
              optional: true
        - name: GIT_REPO
          valueFrom:
            configMapKeyRef:
              name: gitops-repo
              key: repo
              optional: true
      script: |
          #!/usr/bin/env bash
          set -ex

          BRANCH_CMD=""
          if [[ -n "$(params.git-branch)" ]]; then
            BRANCH_CMD="-b $(params.app-name)"
          fi

          APP_NAME="$(params.app-name)"
          PATH_EXPRESSION="$(params.path-expression)"
          SUBDIR="$(params.subdir)"
          if [[ -z "${SUBDIR}" ]]; then
            SUBDIR="$(params.app-name)"
          fi
          YAML_FILE="$(params.yaml)"
          VERSION="$(params.version)"

          if [[ -z "${GIT_HOST}" ]] || [[ -z "${GIT_ORG}" ]] || [[ -z "${GIT_REPO}" ]]; then
              echo "GitOps repo has not been configured with confimap gitops-repo. Skipping trigger step"
              exit 0
          fi

          set +x
          if [[ -n "${GIT_USERNAME_CD}" ]]; then
            GIT_AUTH_USER="${GIT_USERNAME_CD}"
            GIT_AUTH_PWD="${GIT_PASSWORD_CD}"
          elif [[ -n "${GIT_USERNAME}" ]]; then
            GIT_AUTH_USER="${GIT_USERNAME}"
            GIT_AUTH_PWD="${GIT_PASSWORD}"
          else
            echo "Credentials for GitOps repo not set in secret gitops-cd-secret or git-credentials"
            exit 1
          fi
          set -x
          
          git config --global user.email "gitops@cloudnativetoolkit.dev"
          git config --global user.name "Cloud Native Toolkit Pipeline"
          echo "Cloning repo: https://${GIT_AUTH_USER}:xxxx@${GIT_HOST}/${GIT_ORG}/${GIT_REPO}"
          set +x
          GIT_URL="https://${GIT_AUTH_USER}:${GIT_AUTH_PWD}@${GIT_HOST}/${GIT_ORG}/${GIT_REPO}"
          git clone ${BRANCH_CMD} ${GIT_URL} gitops_cd
          set -x
          cd gitops_cd

          if [[ -d "${SUBDIR}" ]]; then
            echo "Requirements before update"
            cat "./${SUBDIR}/${YAML_FILE}"

            # TODO avoid using igc to use yq
            npm i -g @garage-catalyst/ibm-garage-cloud-cli
            igc yq w "./${SUBDIR}/${YAML_FILE}" "${PATH_EXPRESSION}" ${VERSION} -i

            echo "Requirements after update"
            cat "./${SUBDIR}/${YAML_FILE}"
          elif [[ -n "$(params.helm-url)" ]]; then
            mkdir -p "${SUBDIR}"

            echo "apiVersion: v2" | \
              yq w - version "0.1.0" | \
              yq w - name "${APP_NAME}" | \
              yq w - description "Chart to configure ArgoCD with the ${APP_NAME} project and its applications" \
              > "${SUBDIR}/Chart.yaml"

            echo "dependencies: []" | \
              yq w - "dependencies[0].name" "${APP_NAME}" | \
              yq w - "dependencies[0].version" "${VERSION}" | \
              yq w - "dependencies[0].repository" "$(params.helm-url)" \
              > "${SUBDIR}/${YAML_FILE}"

            echo "global: {}" | \
              yq w - "${APP_NAME}.replicaCount" "1" \
              > "${SUBDIR}/values.yaml"
          else
            echo "GitOps repo configured but unable to update application config"
            exit 1
          fi

          if [[ $(git status -s | wc -l) -eq 0 ]]; then
            echo "No changes"
            exit 0
          fi

          git add "${SUBDIR}/"
          git commit -m "Updates ${APP_NAME} to ${VERSION}"
          git push -v
