apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: igc-build-tag-push
spec:
  inputs:
    resources:
      - name: source
        type: git
    params:
      - name: js-image
        default: docker.io/node:12-stretch
      - name: BUILDER_IMAGE
        default: quay.io/buildah/stable:v1.9.0
      - name: DOCKERFILE
        default: ./Dockerfile
      - name: CONTEXT
        default: .
      - name: TLSVERIFY
        default: "false"
  outputs:
    resources:
      - name: image
        type: image
  volumes:
    - name: varlibcontainers
      emptyDir: {}
  steps:
    - name: tag-release
      image: $(inputs.params.js-image)
      workingdir: $(inputs.resources.source.path)
      command: ["/bin/bash"]
      env:
        - name: BRANCH
          value: "$(inputs.resources.source.revision)"
      args:
        - -c
        - |
          set -x
          set +e

          pwd

          echo "Current branch: $(git rev-parse --abbrev-ref HEAD)"
          git fetch origin dev
          git checkout -b ${BRANCH}
          echo "Current branch: $(git rev-parse --abbrev-ref HEAD)"
          git branch --set-upstream-to=origin/${BRANCH} $(git rev-parse --abbrev-ref HEAD)

          git config --global user.name "Jenkins Pipeline"
          git config --global user.email "jenkins@ibmcloud.com"

          npm i -g release-it

          if [[ "${BRANCH}" != "master" ]]; then
              PRE_RELEASE="--preRelease=${BRANCH}"
          fi

          release-it patch --ci --no-npm ${PRE_RELEASE} \
            --git.push=false \
            --git.tagName='v${version}' \
            --no-git.requireUpstream \
            --hooks.after:git:release='git push origin v${version}' \
            --hooks.after:release='echo "IMAGE_VERSION=${version}" > ./env-config; echo "IMAGE_NAME=${repo.project}" >> ./env-config' \
            --verbose

          cat ./env-config
    - name: build
      image: $(inputs.params.BUILDER_IMAGE)
      workingdir: $(inputs.resources.source.path)
      command: ["/bin/bash"]
      args:
        - -c
        - |
          set -e

          . ./env-config

          IMAGE_URL=$(outputs.resources.image.url)

          REGISTRY_URL=$(echo $IMAGE_URL | awk -F / '{print $1}')
          REGISTRY_NAMESPACE=$(echo $IMAGE_URL | awk -F / '{print $2}')

          APP_IMAGE="${REGISTRY_URL}/${REGISTRY_NAMESPACE}/${IMAGE_NAME}:${IMAGE_VERSION}"

          buildah bud --tls-verify=$(inputs.params.TLSVERIFY) --format=docker -f $(inputs.params.DOCKERFILE) -t ${APP_IMAGE}  $(inputs.params.CONTEXT)
          if [[ -n "${REGISTRY_USER}" ]] && [[ -n "${REGISTRY_PASSWORD}" ]]; then
            buildah login -u "${REGISTRY_USER}" -p "${REGISTRY_PASSWORD}" "${REGISTRY_URL}"
          fi
          buildah push --tls-verify=$(inputs.params.TLSVERIFY) "${APP_IMAGE}" "docker://${APP_IMAGE}"
      env:
        - name: REGISTRY_USER
          valueFrom:
            secretKeyRef:
              name: ibmcloud-apikey
              key: REGISTRY_USER
              optional: true
        - name: REGISTRY_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ibmcloud-apikey
              key: APIKEY
              optional: true
      volumeMounts:
        - mountPath: /var/lib/containers
          name: varlibcontainers
      securityContext:
        privileged: true
