apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: ibm-operator-catalog-build
  annotations:
    description: Executes logic to build, tag and push a container image using the intermediate sha tag to the image-url
    app.openshift.io/description: Executes logic to build, tag and push a container image using the intermediate sha tag to the image-url
    app.openshift.io/vcs-uri: https://github.com/IBM/ibm-garage-tekton-tasks
    app.openshift.io/vcs-ref: master
  labels:
    version: 0.0.0
spec:
  params:
    - name: git-url
    - name: git-revision
      default: master
    - name: source-dir
      default: /source
    - name: subdir
      default: ""
    - name: image-url
      default: ""
    - name: OPM_IMAGE
      default: quay.io/ibmgaragecloud/operator-sdk:v0.10.4
    - name: BUILDER_IMAGE
      default: quay.io/buildah/stable:v1.15.1
    - name: DOCKERFILE
      default: ./index.Dockerfile
    - name: CONTEXT
      default: .
    - name: TLSVERIFY
      default: "true"
    - name: FORMAT
      default: "docker"
    - name: BUNDLE_CATALOG
      default: "bundles.txt"
    - name: STORAGE_DRIVER
      description: Set buildah storage driver
      default: overlay
    - name: http-proxy
      description: Http proxy configuration
      default: ""
    - name: https-proxy
      description: Https proxy configuration
      default: ""
  volumes:
    - name: varlibcontainers
      emptyDir: {}
    - name: source
      emptyDir: {}
  stepTemplate:
    env:
      - name: http_proxy
        value: "$(params.http-proxy)"
      - name: https_proxy
        value: "$(params.https-proxy)"
    volumeMounts:
      - name: source
        mountPath: $(params.source-dir)
  steps:
    - name: git-clone
      image: quay.io/ibmgaragecloud/alpine-git
      env:
        - name: GIT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: git-credentials
              key: password
              optional: true
        - name: GIT_USERNAME
          valueFrom:
            secretKeyRef:
              name: git-credentials
              key: username
              optional: true
      script: |
        set +x
        if [[ -n "${GIT_USERNAME}" ]] && [[ -n "${GIT_PASSWORD}" ]]; then
            git clone "$(echo $(params.git-url) | awk -F '://' '{print $1}')://${GIT_USERNAME}:${GIT_PASSWORD}@$(echo $(params.git-url) | awk -F '://' '{print $2}')" $(params.source-dir)
        else
            set -x
            git clone $(params.git-url) $(params.source-dir)
        fi
        set -x
        cd $(params.source-dir)
        git checkout $(params.git-revision)
    - name: generate-catalog
      image: $(params.OPM_IMAGE)
      workingDir: $(params.source-dir)
      env:
        - name: REGISTRY_URL
          valueFrom:
            secretKeyRef:
              name: registry-access
              key: REGISTRY_URL
              optional: true
        - name: REGISTRY_USER
          valueFrom:
            secretKeyRef:
              name: registry-access
              key: REGISTRY_USER
              optional: true
        - name: REGISTRY_PASSWORD
          valueFrom:
            secretKeyRef:
              name: registry-access
              key: REGISTRY_PASSWORD
              optional: true
        - name: GIT_PARENT_DIR
          valueFrom:
            configMapKeyRef:
              name: olm-catalog-repo
              key: parentdir
              optional: true
      volumeMounts:
        - mountPath: /var/lib/containers
          name: varlibcontainers
      securityContext:
        privileged: true
      script: |

        if [[ -n "${GIT_PARENT_DIR}" ]]; then
          cd "${GIT_PARENT_DIR}"
        fi

        if [[ -n "$(params.subdir)" ]]; then
          cd "$(params.subdir)"
        fi

        if [[ "$(params.TLSVERIFY)" == "false" ]] || [[ "${REGISTRY_URL}" == "image-registry.openshift-image-registry.svc:5000" ]]; then
          SKIPTLS="--skip-tls=true"
        fi

        touch $(params.BUNDLE_CATALOG)

        BUNDLES=$(cat $(params.BUNDLE_CATALOG) | paste -sd "," -)

        set +x

        if [[ -n "${REGISTRY_USER}" ]] && [[ -n "${REGISTRY_PASSWORD}" ]] && [[ -n "{REGISTRY_URL}" ]] && [[ "${REGISTRY_URL}" != "image-registry.openshift-image-registry.svc:5000"  ]]; then
          mkdir -p "${HOME}/.docker"
          echo "podman login -u "${REGISTRY_USER}" -p "xxxxx" --authfile="${HOME}/.docker/config.json" "${REGISTRY_URL}""
          podman login -u "${REGISTRY_USER}" -p "${REGISTRY_PASSWORD}" --authfile="${HOME}/.docker/config.json" "${REGISTRY_URL}"
        fi

        set -x

        opm index add ${SKIPTLS} --bundles "${BUNDLES}" --generate -d $(params.DOCKERFILE)
    - name: build
      image: $(params.BUILDER_IMAGE)
      workingDir: $(params.source-dir)
      env:
        - name: REGISTRY_USER
          valueFrom:
            secretKeyRef:
              name: registry-access
              key: REGISTRY_USER
              optional: true
        - name: REGISTRY_PASSWORD
          valueFrom:
            secretKeyRef:
              name: registry-access
              key: REGISTRY_PASSWORD
              optional: true
        - name: GIT_PARENT_DIR
          valueFrom:
            configMapKeyRef:
              name: olm-catalog-repo
              key: parentdir
              optional: true
      volumeMounts:
        - mountPath: /var/lib/containers
          name: varlibcontainers
      securityContext:
        privileged: true
      script: |

        if [[ -n "${GIT_PARENT_DIR}" ]]; then
          cd "${GIT_PARENT_DIR}"
        fi
        if [[ -n "$(params.subdir)" ]]; then
          cd "$(params.subdir)"
        fi

        IMAGE_TO="$(params.image-url)"
        REGISTRY_SERVER_TO=$(echo "${IMAGE_TO}" | awk -F / '{print $1}')

        buildah --layers --storage-driver=$(params.STORAGE_DRIVER) bud --format=$(params.FORMAT) --tls-verify=$(params.TLSVERIFY) -f $(params.DOCKERFILE) -t ${IMAGE_TO} $(params.CONTEXT)
        set +x
        if [[ -n "${REGISTRY_USER}" ]] && [[ -n "${REGISTRY_PASSWORD}" ]] && [[ ! "${REGISTRY_SERVER_TO}" =~ ":" ]]; then
          buildah login -u "${REGISTRY_USER}" -p "${REGISTRY_PASSWORD}" ${REGISTRY_SERVER_TO}
          echo "buildah login -u "${REGISTRY_USER}" -p "xxxxx" ${REGISTRY_SERVER_TO}"
        fi
        set -x
        buildah --storage-driver=$(params.STORAGE_DRIVER) push --tls-verify=$(params.TLSVERIFY) --digestfile ./image-digest ${APP_IMAGE} docker://${IMAGE_TO}
