apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: igc-img-scan-ibm
  labels:
    version: 0.0.0 
spec:
  inputs:
    params:
      - default: 'docker.io/node:12-stretch'
        name: js-image
        type: string
      - default: 'docker.io/garagecatalyst/ibmcloud-dev:1.0.10'
        name: tools-image
        type: string
    resources:
      - name: source
        type: git
  outputs:
    resources:
      - name: image
        type: image
  steps:
    - args:
        - '-c'
        - >
          set -x
          set +e
          git fetch origin ${BRANCH} --tags
          git checkout ${BRANCH}
          echo "IMAGE NAME - Setup "
          echo "IMAGE_VERSION1=$(git describe --abbrev=0 --tags)"  >
          ./env-config
          echo "IMAGE_NAME1=$(basename -s .git `git config --get
          remote.origin.url` | tr '[:upper:]' '[:lower:]' | sed 's/_/-/g')" >>
          ./env-config
          source ./env-config
          echo ${IMAGE_VERSION1}
          echo ${IMAGE_NAME1}
          if [[ -z "${IMAGE_VERSION1}" ]]; then
              echo "Error: IMAGE_VERSION not defined"
              exit 1
          fi
          if [[ -z "${IMAGE_NAME1}" ]]; then
              echo "Error: IMAGE_NAME not defined"
              exit 1
          fi
      command:
        - /bin/bash
      image: $(inputs.params.js-image)
      name: setup
      resources: {}
      workingDir: $(inputs.resources.source.path)
    - args:
        - '-c'
        - >
          set -e
          . ./env-config
          echo "REGISTRYURL + ${REGISTRY_URL}"
          if [[ "${REGISTRY_URL}" == "*cr.io" ]]; then
            echo "REGISTRY_URL is not *cr.io"
            exit 0
          fi
          IMAGE_URL=$(outputs.resources.image.url)
          REGISTRY_URL=$(echo $IMAGE_URL | awk -F / '{print $1}')
          REGISTRY_NAMESPACE=$(echo $IMAGE_URL | awk -F / '{print $2}')
          echo -e "VA Security Scan image in regisry "
          echo "Registr URL"  echo
          ${REGISTRY_URL}/${REGISTRY_NAMESPACE}/${IMAGE_NAME1}:${IMAGE_VERSION1}
          URL=${REGISTRY_URL}/${REGISTRY_NAMESPACE}/${IMAGE_NAME1}:${IMAGE_VERSION1}
          echo ${URL}  VA_FLAG=$(ibmcloud cr va
          ${REGISTRY_URL}/${REGISTRY_NAMESPACE}/${IMAGE_NAME1}:${IMAGE_VERSION1}
          --output json | grep OK)
          sleep 2m
          echo ${VA_FLAG}
          if [[ -n "${VA_Flag}" ]]; then
              echo "VA - No Issues in the image"
          else 
              echo "VA - Issues in the image"
              ibmcloud cr va ${REGISTRY_URL}/${REGISTRY_NAMESPACE}/${IMAGE_NAME1}:${IMAGE_VERSION1}
              exit 1
          fi
      command:
        - /bin/bash
      env:
        - name: HOME
          value: /home/devops
      envFrom:
        - configMapRef:
            name: ibmcloud-config
        - secretRef:
            name: ibmcloud-apikey
      image: $(inputs.params.tools-image)
      name: va-scan
      resources: {}
      workingDir: $(inputs.resources.source.path)