name: Mirror images

on:
  schedule:
    - cron: '0 1 * * *'
  push:
    branches:
    - master

jobs:
  mirror:
    runs-on: ubuntu-latest
    container: quay.io/ibmgaragecloud/ibmcloud-dev:v2.0.2

    steps:
      - uses: actions/checkout@v2

      - name: Mirror
        run: ./bin/mirror.sh "${{ secrets.REGISTRY_USER }}" "${{ secrets.REGISTRY_PASSWORD }}"
