on:
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        slug:
          - cloud-native-toolkit/terraform-tools-tekton-resources
          - cloud-native-toolkit/terraform-gitops-tekton-resources

    steps:
      - name: Publish repository dispatch
        run: |
          curl -XPOST -u "${{secrets.USERNAME}}:${{secrets.TOKEN}}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/${{ matrix.slug }}/dispatches --data '{"event_type": "released"}'
